@media screen and (min-device-width: 480px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 1) {


    body {
        border: solid black 10px;
        width: 100%;
        height: 100%;
        background: rgb(0, 190, 80);
        color: #000000;
        flex: content;
        flex-direction: column;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .search-box {
        display: flex;

        /* If you want to place the icon before the text input */
        flex-direction: row-reverse;

        /* Border */
        border: 1px solid #d1d5db;
    }

    .search-box__input {
        border-color: transparent;
        /* Take available width */
        flex: 1;
    }

    #search_function {
        /* height: 50px; */
        width: 100%;
        background-color: #2ab600;
    }

    #main_page_view {
        border: solid black 2px;
        position: relative;
        overflow-y: scroll;
        height: 700px;
        width: 100%;
        /* background-color: #2596aa; */
        background-color: rgba(0, 255, 145, 0.855);
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to bottom right, #96dd7e, #dfb744);
    }
    

    #search_catagories {
        height: 200px;
        width: 100%;
        background-color: #e1ddbc;
    }

    .col {
        height: 100px;
    }



    #multiButton {
        background-image: url(/images/MultipurposeCleaner.jpeg);

        border: solid black 2px;
        width: 50%;
        height: 100px;

    }

    mark {
        position: relative;
    }

    mark::before {
        /* Highlight color */
        background-color: #46b96c;

        content: "";
        position: absolute;
        width: calc(100% + 4px);
        height: 60%;
        left: -2px;
        bottom: 0;
        z-index: -1;
        transform: rotate(-2deg);
    }

    #dishesButton {
        background-image: url(/images/Laundry\ Detergent\ 1.jpeg);
        border: solid black 2px;
        width: 50%;
        height: 100px;
    }

    #topicalButton {
        background-image: url(/images/images\ \(1\).jpeg);
        border: solid black 2px;
        width: 50%;
        height: 100px;
    }

    #outdoorButton {
        background-image: url(/images/css\ eco\ friendly\ 2.jpeg);
        border: solid black 2px;
        width: 50%;
        height: 100px;
    }

    #footer_with_logos {
        height: 50px;
        width: 100%;
        background-color: #c212e1;
    }

    h4 {
        background-color: black;
    }

    .social-media-icons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .social-media-icons a {
        display: inline-block;
        margin: 0 10px;
    }

    .social-media-icons a i {
        color: #555;
        font-size: 24px;
    }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    /* Style the submit button */
    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        /* Prevent double borders */
        cursor: pointer;
    }

    form.example button:hover {
        background: #0b7dda;
    }

    /* Style the buttons that are used to open and close the accordion */
    .accordion {
        background-color: #56a755;
        cursor: pointer;
        padding: 20px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 30px;
        transition: 0.4s;
    }

    /* Style the accordion panel */
    .panel {
        font-size: 25px;
        background-color: rgb(194,200,95);
        display: none;
        overflow: hidden;
        margin: 0px;
        padding: 30px;
    }

    /* Change the background color of the button when the accordion panel is open */
    .active,
    .accordion:hover {
        background-color: #caac75;
    }

}